@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240, 5%, 6%, 1;
    --foreground: 240, 15%, 13%, 1;

    --card: 240, 15%, 13%, 1;
    --card-foreground: 240, 15%, 30%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 173, 73%, 31%;

    --secondary: 19, 84%, 52%;
    --secondary-foreground: 0, 0%, 100%;

    --tertiary: 33, 91%, 59%;
    --tertiary-foreground: 0, 0%, 100%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 240, 22%, 64%, 1;

    --accent: 9, 84%, 22%;
    --accent-foreground: 9, 84%, 52%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 360, 100%, 100%, 1;

    /* --dark-gray: 2E2E38; */
    --gray: 0, 0%, 62%, 1;
    --radius: 0.5rem;
  }
  th {
    font-weight: 400;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
