@tailwind base;
@tailwind components;
@tailwind utilities;

.sir-shadow {
  text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
}
.nav-shadow {
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
}
html {
  scroll-behavior: smooth;
  /*scrollbar-gutter: stable;*/
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background: hsl(240, 20%, 40%);
}
::-webkit-scrollbar-track {
  background: hsl(240, 20%, 5%);
}
@layer base {
  :root {
    --background: 240, 5%, 6%;
    --foreground: 240, 15%, 13%, 1;
    /* 240°, 15%, 30% */
    --primary: 240, 15%, 30%;
    --primary-foreground: 360, 100%, 100%;
    --secondary: 248, 74%, 8%;
    --secondary-100: 240, 15%, 38%;
    --secondary-200: 240, 15%, 36%;
    --secondary-300: 240, 15%, 32%;
    --secondary-400: 240, 15%, 30%;
    --secondary-500: 240, 15%, 28%;
    --secondary-600: 240, 15%, 26%;
    --secondary-700: 240, 20%, 20%;
    --secondary-800: 240, 22%, 16%;
    --secondary-900: 240, 20%, 14%;
    --secondary-1000: 240, 20%, 10%;
    --secondary-foreground: 0, 0%, 100%;

    --tertiary: 33, 91%, 59%;
    --tertiary-foreground: 0, 0%, 100%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 240, 22%, 80%, 1;

    --accent: 173, 73%, 31%;
    --accent-100: 173, 73%, 50%;
    --accent-200: 173, 73%, 11%;
    --accent-600: 173, 73%, 26%;
    --accent-foreground: 360, 100%, 100%;
    --purple: 265, 63%, 72%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --gold: 40, 80%, 70%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 360, 100%, 100%, 1;
    --light-blue: 173, 74%, 51%;
    --orange-100: 19, 84%, 52%;
    --orange-200: 19, 84%, 42%;
    --red: 0, 73%, 50%;
    --red-200: 0, 73%, 50%;
    --brown-700: 19, 84%, 22%;
    --brown-800: 19, 84%, 20%;
    --brown-100: 20, 84%, 90%;
    --yellow-100: 33, 91%, 59%;
    --yellow-200: 33, 91%, 46%;

    --gray-100: 0, 0%, 95%;
    --gray-200: 0, 0%, 92%;
    --gray-300: 0, 0%, 82%;
    --gray-400: 0, 0%, 72%;
    --gray-500: 0, 0%, 62%;
    --gray-600: 0, 0%, 52%;
    --gray-700: 0, 0%, 38%;
    --gray-800: 0, 0%, 22%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(0.9); /* 50% scale */
  }
  100% {
    transform: scale(1); /* 100% scale */
  }
}

.scale-up {
  animation: scaleUp 0.2s ease-in-out;
}
