@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240, 5%, 6%, 1;
    --foreground: 240, 15%, 13%, 1;

    --primary: 240, 15%, 30%;
    --primary-foreground: 360, 100%, 100%;

    --secondary: 240, 15%, 13%;
    --secondary-foreground: 0, 0%, 100%;

    --tertiary: 33, 91%, 59%;
    --tertiary-foreground: 0, 0%, 100%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 240, 22%, 64%, 1;

    --accent: 173, 73%, 31%;
    --accent-100: 173, 73%, 28%;
    --accent-200: 173, 73%, 11%;
    --accent-foreground: 360, 100%, 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 360, 100%, 100%, 1;
    --light-blue: 173, 74%, 51%;
    --orange-100: 19, 84%, 52%;
    --orange-200: 19, 84%, 42%;
    --brown-700: 19, 84%, 22%;
    --brown-800: 19, 84%, 20%;
    --brown-100: 20, 84%, 90%;
    --yellow-100: 33, 91%, 59%;
    --yellow-200: 33, 91%, 46%;

    --gray: 0, 0%, 62%, 1;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
